[Unit]
Description=Check free brigades and queue push notifications
Wants=vg-ckfree.timer

[Service]
Type=oneshot
User=vg_head_vpnapi
Group=vg_head_vpnapi
EnvironmentFile=/etc/vgdept/ckfree.env
WorkingDirectory=/home/vg_head_vpnapi
ExecStart=/opt/vg-head-vpnapi/ckfree -s

[Install]
WantedBy=multi-user.target
