[Unit]
Description=Check free brigades and queue push notifications
Requires=vg-ckfree.service

[Timer]
Unit=vg-ckfree.service
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target
