[Unit]
Description=Sync vip brigades
Wants=vg-ckvip.timer

[Service]
Type=oneshot
User=vg_head_vpnapi
Group=vg_head_vpnapi
EnvironmentFile=/etc/vgdept/ckvip.env
WorkingDirectory=/home/vg_head_vpnapi
ExecStart=/opt/vg-head-vpnapi/ckvip -s

[Install]
WantedBy=multi-user.target